In [3]:
import pandas as pd
import numpy as np

import matplotlib.pyplot as plt
import seaborn as sns
pd.options.mode.chained_assignment = None

## Load and Explore the Data

In [4]:
# loading the data frame:
df = pd.read_csv('players_20.csv')

In [5]:
# the first 5 rows:
df.head()

,sofifa_id,player_url,short_name,long_name,age,dob,height_cm,weight_kg,nationality,club_name,...,lwb,ldm,cdm,rdm,rwb,lb,lcb,cb,rcb,rb
0,158023,https://sofifa.com/player/158023/lionel-messi/...,L. Messi,Lionel Andrés Messi Cuccittini,32,1987-06-24,170,72,Argentina,FC Barcelona,...,68+6,66+6,66+6,66+6,68+6,63+6,53+6,53+6,53+6,63+6
1,20801,https://sofifa.com/player/20801/c-ronaldo-dos-...,Cristiano Ronaldo,Cristiano Ronaldo dos Santos Aveiro,34,1985-02-05,187,83,Portugal,Juventus,...,65+3,62+3,62+3,62+3,65+3,61+3,54+3,54+3,54+3,61+3
2,190871,https://sofifa.com/player/190871/neymar-da-sil...,Neymar Jr,Neymar da Silva Santos Júnior,27,1992-02-05,175,68,Brazil,Paris Saint-Germain,...,67+6,61+6,61+6,61+6,67+6,61+6,47+6,47+6,47+6,61+6
3,200389,https://sofifa.com/player/200389/jan-oblak/200002,J. Oblak,Jan Oblak,26,1993-01-07,188,87,Slovenia,Atlético Madrid,...,32+3,36+3,36+3,36+3,32+3,32+3,33+3,33+3,33+3,32+3
4,183277,https://sofifa.com/player/183277/eden-hazard/2...,E. Hazard,Eden Hazard,28,1991-01-07,175,74,Belgium,Real Madrid,...,66+6,63+6,63+6,63+6,66+6,61+6,49+6,49+6,49+6,61+6

In [6]:
# summary of the dataframe:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 18483 entries, 0 to 18482
Columns: 106 entries, sofifa_id to rb
dtypes: float64(18), int64(44), object(44)
memory usage: 14.9+ MB

In [7]:
# generates statistics of the columns in the dataframe:
df.describe()

,sofifa_id,age,height_cm,weight_kg,league_rank,overall,potential,value_eur,wage_eur,international_reputation,...,mentality_penalties,mentality_composure,defending_marking,defending_standing_tackle,defending_sliding_tackle,goalkeeping_diving,goalkeeping_handling,goalkeeping_kicking,goalkeeping_positioning,goalkeeping_reflexes
count,18483.000000,18483.000000,18483.000000,18483.000000,18243.000000,18483.000000,18483.000000,1.848300e+04,18483.000000,18483.000000,...,18483.000000,18483.000000,0.0,18483.000000,18483.000000,18483.000000,18483.000000,18483.000000,18483.000000,18483.000000
mean,219768.374885,25.283071,181.348212,75.259049,1.371430,66.198885,71.500893,2.461422e+06,9563.084997,1.102473,...,48.344912,58.470378,NaN,47.603311,45.566196,16.574095,16.353622,16.211221,16.363253,16.706379
std,28047.535516,4.656790,6.760648,7.053023,0.782132,6.950927,6.140787,5.557379e+06,21035.987405,0.377795,...,15.699735,11.885374,NaN,21.573077,21.201937,17.730279,16.985017,16.601642,17.124102,18.027218
min,41.000000,16.000000,155.000000,50.000000,0.000000,48.000000,49.000000,0.000000e+00,0.000000,1.000000,...,7.000000,12.000000,NaN,5.000000,3.000000,1.000000,1.000000,1.000000,1.000000,1.000000
25%,204495.500000,22.000000,177.000000,70.000000,1.000000,62.000000,67.000000,3.250000e+05,2000.000000,1.000000,...,39.000000,51.000000,NaN,27.000000,24.000000,8.000000,8.000000,8.000000,8.000000,8.000000
50%,226215.000000,25.000000,181.000000,75.000000,1.000000,66.000000,71.000000,7.000000e+05,3000.000000,1.000000,...,49.000000,59.000000,NaN,55.000000,52.000000,11.000000,11.000000,11.000000,11.000000,11.000000
75%,240880.000000,29.000000,186.000000,80.000000,2.000000,71.000000,75.000000,2.000000e+06,9000.000000,1.000000,...,60.000000,67.000000,NaN,66.000000,64.000000,14.000000,14.000000,14.000000,14.000000,14.000000
max,252905.000000,42.000000,205.000000,110.000000,4.000000,94.000000,95.000000,1.055000e+08,575000.000000,5.000000,...,92.000000,96.000000,NaN,92.000000,90.000000,90.000000,92.000000,93.000000,91.000000,92.000000

In [8]:
# list of column values:
list(df.columns.values)

['sofifa_id',
 'player_url',
 'short_name',
 'long_name',
 'age',
 'dob',
 'height_cm',
 'weight_kg',
 'nationality',
 'club_name',
 'league_name',
 'league_rank',
 'overall',
 'potential',
 'value_eur',
 'wage_eur',
 'player_positions',
 'preferred_foot',
 'international_reputation',
 'weak_foot',
 'skill_moves',
 'work_rate',
 'body_type',
 'real_face',
 'release_clause_eur',
 'player_tags',
 'team_position',
 'team_jersey_number',
 'loaned_from',
 'joined',
 'contract_valid_until',
 'nation_position',
 'nation_jersey_number',
 'pace',
 'shooting',
 'passing',
 'dribbling',
 'defending',
 'physic',
 'gk_diving',
 'gk_handling',
 'gk_kicking',
 'gk_reflexes',
 'gk_speed',
 'gk_positioning',
 'player_traits',
 'attacking_crossing',
 'attacking_finishing',
 'attacking_heading_accuracy',
 'attacking_short_passing',
 'attacking_volleys',
 'skill_dribbling',
 'skill_curve',
 'skill_fk_accuracy',
 'skill_long_passing',
 'skill_ball_control',
 'movement_acceleration',
 'movement_sprint_speed',
 'movement_agility',
 'movement_reactions',
 'movement_balance',
 'power_shot_power',
 'power_jumping',
 'power_stamina',
 'power_strength',
 'power_long_shots',
 'mentality_aggression',
 'mentality_interceptions',
 'mentality_positioning',
 'mentality_vision',
 'mentality_penalties',
 'mentality_composure',
 'defending_marking',
 'defending_standing_tackle',
 'defending_sliding_tackle',
 'goalkeeping_diving',
 'goalkeeping_handling',
 'goalkeeping_kicking',
 'goalkeeping_positioning',
 'goalkeeping_reflexes',
 'ls',
 'st',
 'rs',
 'lw',
 'lf',
 'cf',
 'rf',
 'rw',
 'lam',
 'cam',
 'ram',
 'lm',
 'lcm',
 'cm',
 'rcm',
 'rm',
 'lwb',
 'ldm',
 'cdm',
 'rdm',
 'rwb',
 'lb',
 'lcb',
 'cb',
 'rcb',
 'rb']

In [9]:
# data type of the columns:
list(df.dtypes)

[dtype('int64'),
 dtype('O'),
 dtype('O'),
 dtype('O'),
 dtype('int64'),
 dtype('O'),
 dtype('int64'),
 dtype('int64'),
 dtype('O'),
 dtype('O'),
 dtype('O'),
 dtype('float64'),
 dtype('int64'),
 dtype('int64'),
 dtype('int64'),
 dtype('int64'),
 dtype('O'),
 dtype('O'),
 dtype('int64'),
 dtype('int64'),
 dtype('int64'),
 dtype('O'),
 dtype('O'),
 dtype('O'),
 dtype('float64'),
 dtype('O'),
 dtype('O'),
 dtype('float64'),
 dtype('O'),
 dtype('O'),
 dtype('float64'),
 dtype('O'),
 dtype('float64'),
 dtype('float64'),
 dtype('float64'),
 dtype('float64'),
 dtype('float64'),
 dtype('float64'),
 dtype('float64'),
 dtype('float64'),
 dtype('float64'),
 dtype('float64'),
 dtype('float64'),
 dtype('float64'),
 dtype('float64'),
 dtype('O'),
 dtype('int64'),
 dtype('int64'),
 dtype('int64'),
 dtype('int64'),
 dtype('int64'),
 dtype('int64'),
 dtype('int64'),
 dtype('int64'),
 dtype('int64'),
 dtype('int64'),
 dtype('int64'),
 dtype('int64'),
 dtype('int64'),
 dtype('int64'),
 dtype('int64'),
 dtype('int64'),
 dtype('int64'),
 dtype('int64'),
 dtype('int64'),
 dtype('int64'),
 dtype('int64'),
 dtype('int64'),
 dtype('int64'),
 dtype('int64'),
 dtype('int64'),
 dtype('int64'),
 dtype('float64'),
 dtype('int64'),
 dtype('int64'),
 dtype('int64'),
 dtype('int64'),
 dtype('int64'),
 dtype('int64'),
 dtype('int64'),
 dtype('O'),
 dtype('O'),
 dtype('O'),
 dtype('O'),
 dtype('O'),
 dtype('O'),
 dtype('O'),
 dtype('O'),
 dtype('O'),
 dtype('O'),
 dtype('O'),
 dtype('O'),
 dtype('O'),
 dtype('O'),
 dtype('O'),
 dtype('O'),
 dtype('O'),
 dtype('O'),
 dtype('O'),
 dtype('O'),
 dtype('O'),
 dtype('O'),
 dtype('O'),
 dtype('O'),
 dtype('O'),
 dtype('O')]

## Exploratory Data Analysis (EDA)

In [10]:
# descriptive statistics on the overall column:
df['overall'].describe()

count    18483.000000
mean        66.198885
std          6.950927
min         48.000000
25%         62.000000
50%         66.000000
75%         71.000000
max         94.000000
Name: overall, dtype: float64

In [11]:
df[['short_name', 'wage_eur']]

              short_name  wage_eur
0               L. Messi    575000
1      Cristiano Ronaldo    400000
2              Neymar Jr    300000
3               J. Oblak    120000
4              E. Hazard    475000
...                  ...       ...
18478         Shao Shuai      2000
18479       Xiao Mingjie      2000
18480          Zhang Wei      2000
18481       Wang Haijian      1000
18482         Pan Ximing      2000

[18483 rows x 2 columns]

In [ ]:
df['wage_eur'].dtypes

In [ ]:
# players per nationality
df['nationality'].value_counts()

In [ ]:
# players in each club:
df.groupby(['club_name']).size()

In [ ]:
# frequency of each age:
temp = df['age'].value_counts()
temp

In [ ]:
# age distribution histogram:
df['age'].hist(bins = 26)

In [ ]:
# 20 best players based on overall rating:
df.sort_values(['overall'], ascending=False)[['short_name', 'overall']][:20]

In [ ]:
# the correlation between potential and overall attribute of the players:
df[['potential','overall']].corr()

In [ ]:
# scatter of age vs overall of players:
df.plot.scatter(x='age',y='overall', c='darkblue')

In [ ]:
# Boxplot of Wage by Position
temp = df.head(50)
temp = df[['short_name','player_positions', 'wage_eur']]
temp['position'] = temp['player_positions'].apply(lambda a: a.replace(" ","").split(",")[0])
temp = temp.explode('position')
bx = temp.boxplot(column="wage_eur", by="position", grid=False)

bx.set_ylim([-1000, 64000])

In [ ]:
# Average overall of players by club 

temp = df[['club_name', 'overall']]
temp.groupby('club_name').mean().sort_values('overall', ascending=False)

In [ ]:
# Average overall of players by league:
temp = df[['league_name', 'overall']]
temp.groupby('league_name').mean().sort_values('overall', ascending=False).head(20)

## Feature Engineering

In [ ]:
# define new column:
# Age
temp = df[['short_name','age']]
conditions = [
    (temp['age'] <= 20),
    ((temp['age']>20) & (temp['age'] <=25)),
    ((temp['age']>25) & (temp['age'] <=30)),
    (temp['age'] > 30)
]
values = ['< 20', '20 - 25', '26 - 30', '30+' ]

temp['age_tier']=np.select(conditions, values)
temp['age_tier'].value_counts()

In [ ]:
list(df.columns)

In [ ]:
# value per overall: 
temp = df[['short_name','value_eur', 'overall']]
temp.head()
temp['value per overall'] = temp['value_eur'] / temp['overall']
temp

In [ ]:
list(df.columns)

In [ ]:
# use the attributes of the players to find best attacking 
# players based on some selected attributes:

skills = [
    'skill_dribbling',
    'skill_fk_accuracy',
    'skill_ball_control',
    'dribbling'
]
temp = df[skills]
temp['name'] = df['short_name']
temp['overall'] = df['overall']
temp['skills_score'] = df[skills].mean(axis=1)
temp[['name','skills_score']].sort_values(['skills_score'], ascending = False).head(30)

In [ ]:
# finding underrated players, calculated based on the skills attributes and the overall rating of players: 
temp['underrated_score'] = temp['skills_score'] - temp['overall']
temp.sort_values('underrated_score', ascending=False)[['name','underrated_score']].head(20)

## Advanced Analysis or Visualisations

In [ ]:
# heatmap of correlation between numeric attributes:
# df.columns

In [ ]:
temp = df[['short_name','pace','shooting']]
corr = temp[['pace','shooting']].corr()
corr
sns.heatmap(corr) 
# this shows that there is no correlation between 
# the pace and shooting ability of the players:

In [ ]:
# clubs with highest average overall ratings:
temp = df[['short_name','club_name', 'overall']]
temp.groupby(['club_name'])['overall'].mean().sort_values(ascending=False).head(10).plot(kind='bar', ylabel="overall")

In [ ]:
temp = df[['short_name','nationality', 'overall']]


df.groupby(['nationality'])['overall'].mean().sort_values(ascending=False).head(10).plot(kind='bar')

In [ ]:
df[(df['nationality'] == "Brazil")]['overall'].mean()

In [ ]:
# identify hidden gems; i.e. players with high potential but low overalls:
temp = df[['short_name','overall', 'potential','age']][(df['age']<=22) & (df['overall']<=80) & (df['potential'] >=85)]
temp['hidden_gems_score'] = temp['potential'] - temp['overall']
temp.sort_values(["hidden_gems_score"], ascending=False).head(20)

In [ ]:
#average player pace per position:
temp = df[['short_name','pace', 'player_positions']]
temp['player_positions'] = temp['player_positions'].apply(lambda a:a.replace(" ","").split(",")[0])
#temp = temp.head(10).sort_values("player_positions")
temp.groupby(["player_positions"])['pace'].mean().fillna(0).sort_values().plot(kind='bar', ylabel='pace')

In [ ]:
#average player physic per position:
temp = df[['short_name','physic', 'player_positions']]
temp['player_positions'] = temp['player_positions'].apply(lambda a:a.replace(" ","").split(",")[0])
#temp = temp.head(10).sort_values("player_positions")
temp.groupby(["player_positions"])['physic'].mean().fillna(0).sort_values().plot(kind='bar', ylabel='physic')

In [ ]:
#dribbling
#average player physic per position:
temp = df[['short_name','dribbling', 'player_positions']]
temp['player_positions'] = temp['player_positions'].apply(lambda a:a.replace(" ","").split(",")[0])
#temp = temp.head(10).sort_values("player_positions")
temp.groupby(["player_positions"])['dribbling'].mean().fillna(0).sort_values().plot(kind='bar', ylabel='dribbling')